h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: #1A2A40;
    margin: 30px 0;
}

h1, h2 {
    color: #3d0400;
}

.logo {
    width: 160px;
    height: auto;
    max-height: 160px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.team-box {
    border: 2px solid #FF9E1B;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #FFF1E6;
}

.team-box h2 {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}

.team-box p {
    background-color: #26ae04;
    margin: 0;
    text-align: start;
}

.logga {
    height: 70px;
}

.container-logga {
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}

.links a {
    color: #FFF1E6;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
}

.links {

    background-color: #1A2A40;
    padding: 15px;
    text-align: center;
}

.links a:hover {
    color: #FFD166;
}

.about-links {
    background-color: #1A2A40;
    padding: 20px 40px;
    color: #FFF1E6;
    border-bottom: 5px solid #FF9E1B;
}

.about-links a {
color: #FFF1E6;
text-decoration: none;
font-weight: bold;
margin-top: 20px;
}


body {
    background-color: #FFF1E6;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #1A2A40;
}

.linklogo {
    color: #1A2A40;
    font-weight: 100;
}

/* head {
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    padding: 20px 0px 20px 0px;
    position: relative;
    background-color: #ffffff;
} */

header {
    height: 60vh;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

* {
    box-sizing: border-box;
    margin: 0%;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #FFF1E6;
    background-color: #1A2A40;
}


.team-box:hover {
    background-color: #FFD166;
}

.about-h2 {
    color: black;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-me {
    display: flex;
    flex-direction: row;
}

.container-me p {
    margin: 20px;
}

.container-me h3 {
    margin: 20px;
    margin-bottom: 5px;
}

.container-me ul {
    align-self: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.picture-me {
    border-radius: 15px;
    height: 60vh;
    margin: 20px;
}

.container.about-h2 {
    display: flex;
}

.hi {
    margin-left: 20px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a{
    color: #FFF1E6;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
    top: -2px;
}

.nav-links a:hover {
    color: #FFD166;
}

.team-box-information {
    border: 2px solid #FF9E1B;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    text-align: start;
    background-color: #FFF1E6;

}

.logo-information {
    width: 160px;
    height: auto;
    max-height: 160px;
}

.teams-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.info-information {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-me p {
    font-size: 20px;
}

.hobbylist {
    font-size: 20px;
}

.container-me h3 {
    font-size: 30px;
}