h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: #1A2A40;
    margin: 30px 0;
}

h1, h2 {
    color: #FF6F61;
}

.logo {
    width: 160px;
    height: auto;
    max-height: 160px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.team-box {
    border: 2px solid #FF9E1B;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #FFF1E6;
}

.team-box h2 {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}

.team-box p {
    background-color: #26ae04;
    margin: 0;
    text-align: start;
}

.links a {
    color: #FFF1E6;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.links {

    background-color: #1A2A40;
    padding: 15px;
    text-align: center;
}

.links a:hover {
    color: #FFD166;
}

body {
    background-color: #FFF1E6;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #1A2A40;
}

.linklogo {
    color: #1A2A40;
    font-weight: 100;
}

/* head {
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    padding: 20px 0px 20px 0px;
    position: relative;
    background-color: #ffffff;
} */

header {
    height: 60vh;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

* {
    box-sizing: border-box;
    margin: 0%;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #FFF1E6;
    background-color: #1A2A40;
}


.team-box:hover {
    background-color: #FFD166;
}

.about-h2 {
    color: black;
    font-weight: normal;
    margin: 20px;
}

.container-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.picture-me {
    border-radius: 15px;
    height: 60vh;
    margin: 20px;
}

.container.about-h2 {

}
